<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>971992210345-8h5r15168rbnb7ec9p60b9e7g27f6tmo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971992210345-8h5r15168rbnb7ec9p60b9e7g27f6tmo</string>
	<key>API_KEY</key>
	<string>AIzaSyDxN85IXGVGPsCAKdW17l8FxHlzRhGb6Hw</string>
	<key>GCM_SENDER_ID</key>
	<string>971992210345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.a4it.app</string>
	<key>PROJECT_ID</key>
	<string>a4it-uk</string>
	<key>STORAGE_BUCKET</key>
	<string>a4it-uk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971992210345:ios:d408899469fa9ad2</string>
	<key>DATABASE_URL</key>
	<string>https://a4it-uk.firebaseio.com</string>
</dict>
</plist>